Node-RED Flow/flows.json
[{"id":"d3786674.e4e828","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce797b08.50fe78","type":"ui_form","z":"d3786674.e4e828","name":"","label":"","group":"d59f93dd.cfe91","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["c37d126f.f788f"]]},{"id":"c37d126f.f788f","type":"function","z":"d3786674.e4e828","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["2c5fb7a1.308168","64917ec4.1a5c7"]]},{"id":"7959c716.aacca8","type":"function","z":"d3786674.e4e828","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["3a086c52.1e1504"]]},{"id":"2c5fb7a1.308168","type":"watson-conversation-v1","z":"d3786674.e4e828","name":"Customer Care","workspaceid":"59766e64-fa3f-422b-8082-7bb5f68550bd","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/20089571-772a-412d-bfd3-29289a27466a","timeout":"","optout-learning":false,"x":500,"y":120,"wires":[["4acba560.7877cc","7959c716.aacca8"]]},{"id":"64917ec4.1a5c7","type":"ui_text","z":"d3786674.e4e828","group":"d59f93dd.cfe91","order":2,"width":12,"height":2,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":410,"y":320,"wires":[]},{"id":"4acba560.7877cc","type":"debug","z":"d3786674.e4e828","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":40,"wires":[]},{"id":"3a086c52.1e1504","type":"ui_text","z":"d3786674.e4e828","group":"d59f93dd.cfe91","order":3,"width":12,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":820,"y":320,"wires":[]},{"id":"d59f93dd.cfe91","type":"ui_group","z":"","name":"Chatbot","tab":"f048b5fc.c4dac8","order":1,"disp":true,"width":12,"collapse":false},{"id":"f048b5fc.c4dac8","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]